*
 {
     margin: 0; padding: 0; box-sizing: border-box; 
 }
body 
  { 
    font: 13px Helvetica, Arial;
    background-image: url(./img/backGrundImg.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
div#homePageDive  {
   
    margin: 20% ;
    font-size: larger;
    font-weight:600;
   color: #FFF;
    padding: 6px;
    display: grid;
    color: rgb(236, 226, 226)


 }
 div#nameAndImagDiv {
    padding: 0%;
    
    display: flex;
    flex-direction: row;
   

 }
 img#profileImg {
    width: 100px;
    height: 100px;
    margin: 0%;
 }
